<%- include('elements/head') %>

<div class='page-title'>
    <h2>FAQ</h2>
    <p>Update informations for the FAQ section.</p>
</div>

<div class="card mb-3">
    <div class="card-header bg-light">
        Section Options
    </div>
    <div class="card-body">
        <form class="row" method='post' >
            <div class="col-12 mb-3">
                <label class="form-label">Section Title</label>
                <input name='title' value="<%= data.title %>" type="text" class="form-control" >
            </div>
            <div class="col-12 mb-3">
                <label class="form-label">Section Description</label>
                <textarea name='description' class="form-control" rows="2"><%= data.description %></textarea>
            </div>
            <div class="col-12 mb-3">
                <label class="form-label">Section Order</label>
                <select name='order' class='form-select' >
                    <% for(var i=1; i<=data.num_sections; i++) {%>
                        <option value="<%= i %>" <%= data.order == i ? " selected" : ""  %> ><%= i %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-12  mb-3">
                <label class="form-label">Enable this page?</label><br>
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="enable" value="true" <%if (data.enable == true) { %> checked="checked" <% } %> >
                    <label class="form-check-label" >Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="enable" value="false" <%if (data.enable != true) { %> checked="checked" <% } %> >
                    <label class="form-check-label" >No</label>
                </div>
            </div>
            <div class="col-12">
                <hr/>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save<i class="bi bi-check-circle ms-2"></i></button>

                <button type="button" class="btn btn-secondary ms-2" data-bs-toggle="modal" data-bs-target="#new-question-modal">
                    Add Question<i class="bi bi-plus-circle ms-2"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header bg-light">
        Questions
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            <% data.questions.forEach(function(item) { %>
                <li class="list-group-item px-0 py-3 d-flex justify-content-between">
                    <div>
                        <h6><%= item.question %></h6>
                        <p class='mb-0'><%= item.answer %></p>
                    </div>
                    <div>
                        <a href='/admin/section-faq/delete/<%= item._id %>' class='btn btn-sm btn-danger' title='Delete' >
                            X
                        </a>
                    </div>
                </li>
            <% }); %>

          </ul>
    </div>
</div>
  
<!-- New questions Modal -->
<div class="modal fade" id="new-question-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='/admin/section-faq/add' method='post' >
                <div class="modal-header">
                    <h5 class="modal-title" >New Question</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Question</label>
                        <div class="col-sm-10">
                            <input name='question' placeholder="Question" class="form-control" type="text" >
                        </div>
                    </div>
            
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Answer</label>
                        <div class="col-sm-10">
                            <textarea name='answer' placeholder="Answer" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
            
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Order</label>
                        <div class="col-sm-4">
                            <input name='order' placeholder="Order" class="form-control" type="number" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save <i class="bi bi-check-circle ms-2"></i></button>
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('elements/footer') %>